@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
}
.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width:25%;
    height: 100rex;
    background: rgb(0, 0, 0);
    float: left;
    color: white;
    
}
.active{
    background-color: rgb(57, 57, 57);
    border-radius: 5px;
}
.active:hover{
    background-color: rgb(140, 134, 134);
}
.sidebar>h2{
    font-size: 1.6rem;
    font-weight: 500;
    font-style: italic;
}
/* .selected{
    position: absolute;
    top: 0;
    left:25%;
    padding: 100px;
    color: rgb(83, 71, 46);
} */
.selected h2{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(83, 71, 46);
}
/* .projects{
    position: absolute;
    top: 0;
    left:25%;
} */
.projects h2{
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(83, 71, 46);
}
#task-header{
    padding: 5px;
    background-color: rgb(230, 227, 222);
}
.projects button{
    padding: 4px;
    background-color: rgb(185, 173, 173);
    border-radius: 5px;
}
#task-header button:hover{
    background-color: rgb(165, 161, 161);
}
.tasks{
    max-width: 900px;
    background-color: rgb(230, 227, 222);
    margin: 50px;
}
.input-field,.projects, .selected{
    position: absolute;
    top: 0;
    left:25%;
    width:73%;
    padding: 10px;
    margin: 5px;
}
.input-field h2{
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(83, 71, 46);
}
.input-field label{
    font-weight: 500;
    color: rgb(83, 71, 46);
}
.input-field input:hover{
    border:solid  rgb(83, 71, 46);
    color: rgb(83, 71, 46);
}
.input-field #date{
    max-width: 350px;
}
.input-field #save{
    padding: 5px;
    background-color: rgb(185, 173, 173);
    border-radius: 5px;
    font-weight: 500;
    max-width: fit-content;
}
.input-field #cancel{
    padding: 5px;
    border:solid  rgb(185, 173, 173) 2px;
    border-radius: 5px;
    font-weight: 500;
    max-width: fit-content;
}
.input-field #cancel:hover{
    border:solid  rgb(124, 121, 121) 2px;
}